.nodoxing {
    color: transparent;
    font-style: italic;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 62px);
    width: 100vw;
}

:global(.styleify) #about {
    table, td {
        border-style: none;
    }
}

:global(.irlnamepopup-content) {
    padding: 8px;
    background: #c6a0f6;
    box-shadow: 0 0 16px #333;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    color: #000;
    animation: appear .10s linear;
}

@keyframes appear {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}