#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 5rem 0;
}

:global(.styleify) #about {
    table, td {
        border: none;
    }
    tr {
        display: flex;
        width: 100%;
        padding: 12px 4px;
        
        &:not(:last-child){
            border-bottom: 1px solid #0006;
        }
        
        td:first-child {
            width: 30%;
        }
    }
}

@media (orientation: portrait) {
    :global(.styleify) #about tr {
        flex-direction: column;
        td:first-child {
            font-size: 20px;
            font-weight: 600;
            width: 100%;
        }
    }
}