#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;

    :global(.card) {
        width: 30vw;
        border-style: inset;
    }

    h2 {
        border-style: outset;
    }

    .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;
        padding-top: 5rem;
        height: 100%;
        width: 100%;
        gap: 20px;
        overflow-y: auto;
    }
}

@media (orientation: portrait) {
    #projects {
        :global(.card) {
            max-width: 80vw;
            width: 80vw;
        }
    }
}

:global(.styleify) #projects :global(.card) {
    position: relative;
    border-style: none;
    &:nth-child(2n) {
        background: linear-gradient(105deg, #b7bdf8, #c6a0f6, #f5bde6);
    }
    &:nth-child(2n + 1) {
        background: linear-gradient(305deg, #b7bdf8, #c6a0f6, #f5bde6);
    }
    h2 {
        border-style: none;
    }
}

.bigLinkButton {
    width: 100%;
    text-align: center;
}

:global(.styleify) .bigLinkButton {
    display: block;
    background: #f5bde6;
    border-style: none;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    text-align: center;
    font-weight: 600;
    color: rgb(34, 34, 34);
    cursor: pointer;
    text-decoration: none;
}