body {
    margin: 0;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

a:visited {
    color: red;
}

a:link {
    color: white;
}

.app {
    width: 100vw;
    height: 100vh;

    &::before {
        position: fixed;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;        
        background: url("/space.png");
    }
    &.styleify::before {
        background: url("/wallpaper.png") right;
    }
}

.styleify {
    font-family: Helvetica;
    
    button {
        font-family: Helvetica;
    }

    a {
        color: #00f;
    }
}

button {
    border-style: outset;
    font-family: "Times New Roman", Times, serif;
    &:active {
        border-style: inset;
    }
}

h1, h2 {
    margin: 0;
}

p {
    text-align: justify;
}

table, td {
    border-style: outset;
    padding: 8px;
}

li {
    vertical-align: middle;
}
ul {
    margin: 0;
    padding-left: 16px;
}