body {
    margin: 0;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

.app {
    background: url("/space.png");
    width: 100vw;
    height: 100vh;
}

.styleify {
    font-family: Helvetica;
    background: #24273a;
    
    button {
        font-family: Helvetica;
    }
}

button {
    border-style: outset;
    font-family: "Times New Roman", Times, serif;
    &:active {
        border-style: inset;
    }
}

h1, h2 {
    margin: 0;
}

p {
    text-align: justify;
}

table, td {
    border-style: outset;
    padding: 8px;
}

li {
    vertical-align: middle;
}
ul {
    margin: 0;
    padding-left: 16px;

}